/**  OPTIONS  **/
$grill-prefix: grill !default;


/**  BASE CLASSES  **/
/**
 * ROW
 */
.#{$grill-prefix}-row {
  display: block !important;
  margin: 0px;
  position: relative;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

/**
 * COL
 */
.#{$grill-prefix}-col {
  display: block !important;
  float: left;
  position: relative;
}

/**
 * Float right
 */
.#{$grill-prefix}-right {
  float: right;
}



/**  HELPERS  **/

/**
 *
 */
@mixin grill($vspacing: 0px, $hspacing: 0px) {
  &.#{$grill-prefix}-root {
    padding: $vspacing $hspacing;
  }

  .#{$grill-prefix}-row + .#{$grill-prefix}-row {
    margin-top: $vspacing;
  }

  .#{$grill-prefix}-col + .#{$grill-prefix}-col {
    margin-left: $hspacing;
  }
}

/**
 * 
 */
@mixin grill-w($hspacing, $cols, $col-width) {
  @for $i from 1 through $cols {
    .#{$grill-prefix}-w#{$i} {
      width: $col-width * $i + $hspacing * ($i - 1);
    }
  }
}