$grill-ns: grill !default;

@mixin grill($vs, $hs) {
  &.#{$grill-ns}-root {
    padding: $vs $hs;
  }

  .#{$grill-ns}-row + .#{$grill-ns}-row {
    margin-top: $vs;
  }

  .#{$grill-ns}-col + .#{$grill-ns}-col {
    margin-left: $hs;
  }
}

@mixin grill-w($hspacing, $cols, $col-width) {
  @for $i from 1 through $cols {
    .#{$grill-ns}-w#{$i} {
      width: $col-width * $i + $hspacing * ($i - 1);
    }
  }
}

.#{$grill-ns}-row {
  display: block;
  margin: 0px;
  position: relative;

  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.#{$grill-ns}-col {
  display: block;
  float: left;
  position: relative;
}

.#{$grill-ns}-right {
  float: right;
}