html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grill-row {
  display: block;
  margin: 0px;
  position: relative;
}
.grill-row:after {
  clear: both;
  content: "";
  display: block;
}

.grill-col {
  display: block;
  float: left;
  position: relative;
}

.grill-right {
  float: right;
}

.grill-w1 {
  width: 10%;
}

.grill-w2 {
  width: 20%;
}

.grill-w3 {
  width: 30%;
}

.grill-w4 {
  width: 40%;
}

.grill-w5 {
  width: 50%;
}

.grill-w6 {
  width: 60%;
}

.grill-w7 {
  width: 70%;
}

.grill-w8 {
  width: 80%;
}

.grill-w9 {
  width: 90%;
}

.grill-w10 {
  width: 100%;
}

.grill-4cols .grill-col {
  width: 25%;
}
.grill-4cols .grill-w1 {
  width: 25%;
}
.grill-4cols .grill-w2 {
  width: 50%;
}
.grill-4cols .grill-w3 {
  width: 75%;
}
.grill-4cols .grill-w4 {
  width: 100%;
}
